###
# CakePHP tmp content
###
*Config/database.php
*.mwb.bak
*database_dump*
tmp/*
DevStuff/xSystem/*
webroot/css/ie8.css
webroot/css/reset.css
webroot/css/style.css
webroot/images/*
webroot/js/html5.js
webroot/.htaccess