###
# CakePHP tmp content
###
*Config/database.php
*.mwb.bak
*database_dump*
tmp/*
DevStuff/xSystem/*
webroot/css/chosen.css
webroot/css/config.css
webroot/css/grid.css
webroot/css/ie8.css
webroot/css/reset.css
webroot/css/style.css
webroot/css/uniform.default.css
webroot/css/jquery.ui.all.css
webroot/css/jquery.ui.base.css
webroot/css/jquery.ui.theme.css
webroot/css/jquery.ui.core.css
webroot/css/jquery.ui.resizable.css
webroot/css/jquery.ui.selectable.css
webroot/css/jquery.ui.accordion.css
webroot/css/jquery.ui.autocomplete.css
webroot/css/jquery.ui.button.css
webroot/css/jquery.ui.dialog.css
webroot/css/jquery.ui.slider.css
webroot/css/jquery.ui.tabs.css
webroot/css/jquery.ui.datepicker.css
webroot/css/jquery.ui.progressbar.css
webroot/images/*
webroot/js/chosen.jquery.js
webroot/js/chosen.jquery.min.js
webroot/js/head_scripts.js
webroot/js/html5.js
webroot/js/jquery.dataTables.min.js
webroot/js/jquery.placeholder.js
webroot/js/jquery.uniform.js
webroot/js/scriptbreaker-multiple-accordion-1.js
webroot/js/scripts.js
webroot/js/ui_calls.js